{% extends "Tracker/base_tracker.html" %}

{% block title %} Tracker {% endblock %}

<!-- breadcrumbs to the page -->
{% block bread_crumbs %}
<div class="grid-x grid-padding-x">
    <div class="cell shrink">
        <nav aria-label="You are here:" role="navigation" id="custom-breadcrumb-design">
            <ul class="breadcrumbs" id="custom-breadcrumb-style">
                <li><a href="/tracker">Tracker / Inbound</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{%block content_main%}
    <div class="grid-x grid-margin-x">
        <div class="cell large-offset-1 large-8">
            <div class="cell small-6 medium-6 large-6">
                <h3>Inbound Complaints</h3>
            </div>
        </div>
        <div class="cell large-offset-1 large-10">
            <table class="hover">
                <thead>
                    <tr>
                        <th>Tracker ID</th>
                        <th>Complaint From</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Reported On</th>
                        <th>Resolved</th>
                    </tr>
                </thead>
                <tbody>

                    {% for complaints in complaint_list %}
                    <tr>
                        <td>{{ complaints.complaint_id }}</td>
                        <td>{{ complaints.from_department }}</td>
                        <td>{{ complaints.reason }}</td>
                        <td>{{ complaints.complaint_status }}</td>
                        <td>{{ complaints.priority }}</td>
                        <td>{{ complaints.reported_date }}</td>
                        {% if complaints.complaint_status_id == 1 %}
                            <td>
                                <button data-complaintID="{{ complaints.id }}" class="mark_resolved">
                                    <span class="fi-check give-color-green"></span>
                                </button>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="cell large-offset-1 large-10">
            <div class="cell small-6 medium-6 large-6">
                <nav aria-label="Pagination">
                    <ul class="pagination text-center">
                        <li class="pagination-previous"><a href="?page=1" aria-label="Next page">First
                            <span class="show-for-sr">page</span></a></li>
                        {% if complaint_list.has_previous %}
                        <li class="pagination-previous"><a href="?page={{complaint_list.previous_page_number}}" aria-label="Next page">Previous
                            <span class="show-for-sr">page</span></a></li>
                        {% else %}
                        <li class="pagination-previous disabled"><a href="#" aria-label="Next page">Previous
                            <span class="show-for-sr">page</span></a></li>
                        {% endif %}
                        {% if complaint_list.has_next %}
                        <li class="pagination-next"><a href="?page={{complaint_list.next_page_number}}" aria-label="Next page">Next
                            <span class="show-for-sr">page</span></a></li>
                        {% else %}
                        <li class="pagination-next"><a href="#" aria-label="Next page">Next
                            <span class="show-for-sr">page</span></a></li>
                        {% endif %}
                        <li class="pagination-next"><a href="?page={{complaint_list.paginator.num_pages}}" aria-label="Next page">Last
                            <span class="show-for-sr">page</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% include 'Tracker/includes/new_complaint.html' %}
    {% include 'Tracker/includes/response_message.html' %}
{% endblock %}