<div class="tiny reveal" id="deletion_confirmation_model" data-reveal>
    <div class="grid-x">
        <div class="cell large-offset-1 large-11 text-left">
            <h4>Remove Entry ?</h4>
            <h5>Action Cannot be reverted.</h5>
        </div>
        <div class="cell large-offset-1 large-10 text-center top-margin-20">
            <button type="button" id="cancel_button" class="button warning" data-close>Cancel</button>
            <button type="button" id="make_deletion_button" class="button">Remove</button>
        </div>
    </div>
    <!-- button for closing the modal -->
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>