
<div class="top-bar" id="tracker-menu">
    <div class="top-bar-left">
        <ul class="menu" id="tracker-main-menu-custom-style">
        {% if login_status == True %}
            <li class="{% if page_name == 'tracker_home' %}active{% endif %}">
                <a href="/tracker">StarCare</a>
            </li>
        {% else %}
            <li class="active"><a href="/">StarCare</a></li>
        {% endif %}
        </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
        {% if login_status == True %}
        <form class="top-margin-30" method="get" action="">
            <li><input type="search" placeholder="Search" name="tc_id" type="text" id="complaint_id_text"></li>
            <li><a type="submit" class="button" href="#" id="search_link">Search</a></li>
        </form>
            <li>
                <a href="#" style="font-weight: bold !important;">
                    <i class="fi-arrow-right"></i> &nbsp; Logout
                </a>
            </li>
        {% endif %}
    </ul>
  </div>
</div>
