
<div class="top-bar" id="tracker-menu">
    <div class="top-bar-left">
        <ul class="menu" id="tracker-main-menu-custom-style">
        {% if login_status == True %}
            <li class="active">
                <a href="{% url 'main_tracker' %}">StarCare</a>
            </li>
            <li class="{% if page_name == 'tracker_home' %}new_active{% endif %}">
                <a href="{% url 'main_tracker' %}">
                    <i class="fi-download"></i> &nbsp; InBound
                </a>
            </li>
            <li class="{% if page_name == 'tracker_out_bound' %}new_active{% endif %}">
                <a href="{% url 'out_bound_complaints' %}">
                    <i class="fi-upload"></i> &nbsp; OutBound
                </a>
            </li>
            <li class="{% if page_name == 'notifications' %}new_active{% endif %}">
                <a href="{% url 'notification' %}">
                    <i class="fi-mail"></i> &nbsp; Notifications
                </a>
            </li>
        {% else %}
            <li class="active"><a href="#">StarCare</a></li>
        {% endif %}
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
        {% if login_status == True %}
        <form method="GET" action="" id="nav_search_form">
            <li><input type="search" placeholder="Search" name="q" type="text" id="complaint_id_text" value="CTID#"></li>
            <li><input type="submit" class="button" id="search_link" value="search"/></li>
        </form>
        <li>
            <a href="{% url 'logout_user' %}" style="font-weight: bold !important;">
                <i class="fi-arrow-right"></i> &nbsp; Logout
            </a>
        </li>
        {% endif %}
        </ul>
    </div>
</div>
