<div id="new_complaint_button_container">
    <button class="button large" data-open="new_complaint_modal"><span class="fi-plus"></span></button>
</div>

<div class="small reveal" id="new_complaint_modal" data-reveal>
    <form class="top-margin-30" method="post" action="{% url 'insert_to_tracker' %}">
        {% csrf_token %}
        <div class="grid-x">
            <div class="cell large-offset-1 large-5 text-left">
                <h3>Register Complaint</h3>
            </div>
            <div class="cell large-offset-0 large-6 text-center">
                <h3>Tracker ID: {{tracker_id}}</h3>
            </div>
            <div class="cell large-offset-1 large-10 top-margin-20">
                To Department:
                <select name="to_dept">
                    <option selected disabled>Select a department</option>
                    {% for depts in to_departments %}
                        <option value="{{ depts.id }}">{{depts.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="cell large-offset-1 large-10">
                {{ new_complaint }}
            </div>
            <div class="cell large-offset-1 large-10 text-center">
                <button type="reset" id="cancel_button" class="button warning" data-close>Cancel</button>
                <button type="submit" id="insert_button" class="button">Submit Complaint</button>
            </div>
        </div>
    </form>
    <!-- button for closing the modal -->
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>